@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
.container {
  margin-top: 50px;
  left: 10px;
}
.h2 {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #aaa;
}
.container a {
  font-size: 1.4rem;
}
